                                body {
                                    margin: 30px;
                                    background-color: #ffffff;
                                }
                                
                                .besink {
                                    color: #1a1f2c;
                                    font-family: 'Exo 2', sans-serif;
                                    font-size: 25px;
                                    padding: 40px 5px 0 23px
                                }
                                
                                .mv-navi-bar {
                                    padding: 50px 150px 0px 100px;
                                    display: inline;
                                }
                                
                                .mv-navi * {
                                    display: inline;
                                }
                                
                                .services {
                                    padding: 0px 50px 0px 0px;
                                }
                                
                                .mv-navi-en {
                                    padding: 40px 5px 0 35px;
                                }
                                
                                .mv-navi-eng {
                                    padding: 50px 5px 0 30px;
                                }
                                
                                .btn-success {
                                    width: 150px;
                                    height: 30px;
                                    text-align: center;
                                    border-radius: 12px;
                                }
                                
                                .btn-df-green {
                                    background-color: #06d459;
                                    display: inline-block;
                                    border: none;
                                    padding: 9px 32px 10px 32px;
                                    border-radius: 25px;
                                    color: #ffffff;
                                    font-size: 14px;
                                    outline: none !important;
                                    box-shadow: 0px 2px 13px -5px #0000008c;
                                }
                                
                                .mv-topic {
                                    font-family: 'Rubik', sans-serif;
                                    color: #1a1f2c;
                                    font-size: 50px;
                                    padding: 40px 5px 0 20px;
                                }
                                
                                .mv-explain {
                                    padding: 5px 0px 0px 12px;
                                    margin: 244px 0px 0px -462px
                                }
                                
                                .mv-detail-btn {
                                    padding: 40px 20px 0px 20px;
                                    margin: 323px 65px 66px -456px;
                                }
                                
                                .mv-learn-btn {
                                    background-color: #ffffff;
                                    display: inline-block;
                                    /* border: none; */
                                    border-color: #06d459;
                                    border-radius: 25px;
                                    color: #06d459;
                                    font-size: 14px;
                                    padding: 8px 28px 8px 28px
                                }
                                
                                .mv-detail-btn .mv-learn-btn {
                                    display: inline;
                                    margin-left: 50px;
                                }
                                
                                .img-developer {
                                    margin: -390px 0px 50px 490px;
                                    object-fit: cover;
                                }
                                
                                .img-developer img {
                                    object-fit: cover;
                                }
                                
                                .mv-details .img-developer {
                                    display: inline;
                                }
                                
                                .mv-details {
                                    margin: 44px 0px 0px 0px;
                                }
                                
                                .mv-our-srevice {
                                    font-family: 'Dosis', sans-serif;
                                    font-size: 28px;
                                    padding: 10px 0px 0px 218px;
                                    color: hsl(200, 18%, 71%);
                                }
                                
                                .mv-sites {
                                    display: flex;
                                    margin: 30px 0px 0px 0px;
                                }
                                
                                .mv-site-one {
                                    padding: 9px 85px 0px 0px;
                                    font-family: 'Mukta', sans-serif;
                                    font-size: 30px;
                                    color: #818593;
                                }
                                
                                .mv-site-two {
                                    padding: 0px 85px 0px 0px;
                                    font-family: 'Josefin Sans', sans-serif;
                                    font-size: 40px;
                                    color: #818593;
                                }
                                
                                .mv-site-three {
                                    padding: 10px 85px 0px 0px;
                                    font-family: 'Radio Canada', sans-serif;
                                    font-size: 30px;
                                    color: #818593;
                                }
                                
                                .mv-site-four {
                                    padding: 16px 85px 0px 0px;
                                    font-family: 'Special Elite', cursive;
                                    font-size: 30px;
                                    color: #818593;
                                }
                                
                                .mv-site-five {
                                    padding: 17px 85px 0px 0px;
                                    font-family: 'Special Elite', cursive;
                                    font-size: 30px;
                                    color: #818593;
                                }
                                
                                .mv-what-we-do-topic {
                                    padding: 120px 0px 0px 380px;
                                    font-size: 45px;
                                    font-family: 'Radio Canada', sans-serif;
                                }
                                
                                .mv-what-we-do-details {
                                    padding: 10px 0px 0px 230px;
                                    text-indent: 74px;
                                }
                                
                                .mv-container {
                                    padding: 90px 0px 0px 0px;
                                }
                                
                                .justify-content-md-center-one {
                                    padding: 70px 50px 0px 30px;
                                }
                                
                                .justify-content-md-center-two {
                                    padding: 50px 50px 0px 30px;
                                }
                                
                                .image-icon {
                                    object-fit: cover;
                                    margin: 0px 130px 0px 130px;
                                }
                                
                                .justify-content-md-center-one h1 {
                                    text-indent: 8px;
                                    font-size: 25px;
                                    text-align: center;
                                }
                                
                                .justify-content-md-center-one h6 {
                                    text-align: center;
                                    color: #5ba288;
                                    padding: 35px 0px 0px 0px;
                                }
                                
                                .justify-content-md-center-one p {
                                    text-align: center;
                                }
                                
                                .mv-btn-icon {
                                    background-color: #ffffff;
                                    border: none;
                                }
                                
                                .mv-navi-panal {
                                    background-color: #fbfbfd;
                                    margin: 41px 0px 0px 0px;
                                }