        body {
            margin: 30px;
            background-color: #ffffff;
        }
        
        .besink {
            color: #1a1f2c;
            font-family: 'Exo 2', sans-serif;
            font-size: 25px;
            padding: 40px 5px 0 23px
        }
        
        .mv-navi-bar {
            padding: 50px 150px 0px 100px;
            display: inline;
        }
        
        .mv-navi * {
            display: inline;
        }
        
        .services {
            padding: 0px 50px 0px 0px;
        }
        
        .mv-navi-en {
            padding: 40px 5px 0 35px;
        }
        
        .mv-navi-eng {
            padding: 50px 5px 0 30px;
        }
        
        .btn-success {
            width: 150px;
            height: 30px;
            text-align: center;
            border-radius: 12px;
        }
        
        .btn-df-green {
            background-color: #06d459;
            display: inline-block;
            border: none;
            padding: 9px 32px 10px 32px;
            border-radius: 25px;
            color: #ffffff;
            font-size: 14px;
            outline: none !important;
            box-shadow: 0px 2px 13px -5px #0000008c;
        }
        
        .mv-topic {
            font-family: 'Rubik', sans-serif;
            color: #1a1f2c;
            font-size: 50px;
            padding: 40px 5px 0 20px;
        }
        
        .mv-explain {
            padding: 5px 0px 0px 12px;
            margin: 244px 0px 0px -462px
        }
        
        .mv-detail-btn {
            padding: 40px 20px 0px 20px;
            margin: 323px 65px 66px -456px;
        }
        
        .mv-learn-btn {
            background-color: #ffffff;
            display: inline-block;
            /* border: none; */
            border-color: #06d459;
            border-radius: 25px;
            color: #06d459;
            font-size: 14px;
            padding: 4px 36px 8px 36px
        }
        
        .mv-detail-btn .mv-learn-btn {
            display: inline;
            margin-left: 50px;
        }
        
        .img-developer {
            margin: -390px 0px 50px 490px;
        }
        
        .mv-details .img-developer {
            display: inline;
        }
        
        .mv-details {
            margin: 44px 0px 0px 0px;
        }